/* Contact Form Section */
.contact-form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20vh auto 10vh auto;
}

h2{
    text-align: center;
    font-size: 40px !important;
}
.contact-form-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #D4AF37;
}

.contact-form-section form {
    display: flex;
    flex-direction: column;
}

.contact-form-section input,
.contact-form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #D4AF37;
    border-radius: 4px;
}

.contact-form-section button {
    padding: 10px 20px;
    background-color: #D4AF37;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 30%;
}

.contact-form-section button:hover {
    background-color: #f9f9f9;
    border: 2px solid #D4AF37;
    color: #D4AF37;
}

label{
    color: #D4AF37;
}

